# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [50]:
DROP TABLE allison.planned_makes
CREATE TABLE allison.planned_makes (
    ID INT,
    Make VARCHAR (50) NOT NULL,
    Make_when VARCHAR(20) NOT NULL,
    

)

Add three rows to your table that are your planned makes.

In [31]:
ALTER TABLE allison.planned_makes
DROP CONSTRAINT PK__planned___3214EC27812B405F

In [51]:
INSERT INTO allison.planned_makes (ID,Make, Make_when)
VALUES (1,'data base','08/1/22'),
(2,'pizza','7/4/22')

In [52]:
USE JunkDB_STL_March2022
SELECT *
FROM allison.planned_makes

ID,Make,Make_when
1,data base,08/1/22
2,pizza,7/4/22

## Update a Row

Change different values in one of your three rows.

In [55]:
UPDATE allison.planned_makes
SET Make='pepporni_pizza'
WHERE ID=2

In [56]:
USE JunkDB_STL_March2022
SELECT *
FROM allison.planned_makes

ID,Make,Make_when
1,data base,08/1/22
2,pepporni_pizza,7/4/22

## Delete a Row

Delete one of the rows from your table.

In [57]:
DELETE FROM allison.planned_makes
WHERE ID=1;

## Drop the Table

While this has been fun, it is time to drop the table!

In [58]:
DROP TABLE allison.planned_makes